body {
  background-color: #e0dedb;
  margin: 0;
}

#header {
  display: flex;
  width: 100vw;
  height: 100px;
  align-items: center;
}

h1 {
  display: inline-block;
  color: #131212;
  font-size: 45px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
  width: calc(50vw - 50px);
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.menu {
  font-size: 22px;
  border: none;
  background-color: #131212;
  color: #e0dedb;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  width: 25vw;
}

#current-title {
  font-style: italic;
  text-align: right;
}

#menu {
  display: flex;
  width: 100vw;
  height: 50px;
  align-items: center;
}

#current-page {
  font-style: italic;
}

img {
  height: 100px
  width: 200px
}

#footer {
  display: flex;
  width: 100vw;
  height: 100px;
  align-items: center;
  background-color: #131212;

  margin-top: calc(100vh - (250px));
}

.footer {
  font-size: 17px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  color: #e0dedb;
  width: calc(100vw/3 - 40px);
  margin-left: 25px;
  margin-right: 25px;
}

#mail {
  border: none;
  background-color: #131212;
}

#copyright {
  text-align: right;
}



















.inknut-antiqua-light {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
}
  
.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}
  
.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-style: normal;
}
  
.inknut-antiqua-semibold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}
  
.inknut-antiqua-bold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}
  
.inknut-antiqua-extrabold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
}
  
.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}
